
    ion-scroll[scrollX] {
        white-space: nowrap;
        height: 120px;
        overflow: hidden;
      
        .scroll-item {
          display: inline-block;
        }
      
        .selectable-icon{
          margin: 10px 20px 10px 20px;
          color: red;
          font-size: 100px;
        }
      
        ion-avatar img{
          margin: 10px;
        }
      }
      
      ion-scroll[scroll-avatar]{
        height: 60px;
      }
      
      /* Hide ion-content scrollbar */
      ::-webkit-scrollbar{
        display:none;
      }
      /**
       * Variables
       */
      
       $black:    #171717;
       $white:    #FFF;
       $blue:     #fff;
       $gray-de:  #DEDEDE;
       $blue-48:  rgb(33, 190, 151);
       $blue-4a:  rgb(25, 207, 183);
       $gray-89:  #898989;
       $gray-72:  #727272;
       
       @mixin border-radius($radius) {
         -webkit-border-radius: $radius;
            -moz-border-radius: $radius;
             -ms-border-radius: $radius;
                 border-radius: $radius;
       }
       @mixin background-horizontal($left, $middle, $right) {
         background: $left;
         background: -webkit-linear-gradient(left, $left 0%, $middle 50%, $right 100%);
         background:    -moz-linear-gradient(left, $left 0%, $middle 50%, $right 100%);
         background:         linear-gradient(to right, $left 0%, $middle 50%, $right 100%);
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$left', endColorstr='$right',GradientType=0);
       }
       /* End */
       
       .chat-list-wrap {
         .list {
           margin: 0;
           .item {
             margin: 0;
             padding: 20px 10px;
             background-color: $blue;
             color: $black;
             border: 1px solid $gray-de;
             .item-inner {
               border-bottom: none;
               .label {
                 margin: 0;
                 img {
                   float: left;
                   max-height: 100px;
                   max-width: 100px;
                   height: 100px;
                   width: 100px;
                   margin-right: 20px;
                   @include border-radius(100%);
                 }
                 .chat-list-title {
                   margin-bottom: 6px;
                   font-size: 20px;
                  }
                  .chat-list-localidade ion-icon{
                    color:#a2a2a2;
                  }
                  .chat-list-localidade{
                    font-size:12px;
                    color:#5f5f5f;

                 }
                 .chat-list-sub-title,
                 .chat-list-price {
                   margin-bottom: 6px;
                   font-size: 16px;
                 }
                 .chat-list-item{
                  display: inline-block;
    padding: 8px 12px;
    font-size: 10px;
    margin-right: 5px;
    opacity: 1;
    box-shadow: 4px 4px 9px -3px #b7b7b7;
    border-radius: 5px;
    text-transform: uppercase;
                 }
                 .chat-list-discount {
                   display: inline-block;
                   margin-top: 10px;
                   padding: 8px 18px;
                   color: $white;
                   font-size: 16px;
                   opacity: 1;
                   -webkit-border-radius: 30px;
                   border-radius: 30px;
                   @include background-horizontal($blue-48, $blue-4a, $blue-48);
                 }
               }
             }
           }
         }
         &.grid-view {
           .item {
             float: left;
             width: 50%;
             padding: 30px 15px;
             text-align: center;
             .item-inner {
               .label {
                 img {
                   float: none;
                   margin-right: 0;
                 }
               }
             }
           }
         }
       }
       
       /* Header */
       .main-header {
         .toolbar {
           min-height: 60px;
           .toolbar-background {
             height: 60px;
             @include background-horizontal($blue-48, $blue-4a, $blue-48);
           }
           .toolbar-title {
             font-size: 22px;
             /*text-align: center;*/
           }
           .bar-button-default-md:hover:not(.disable-hover) {
             color: $white;
           }
         }
      
      }
       