<ion-header>
    <div class="main-header">
      <ion-navbar color="danger">
        <ion-title *ngIf="!isSearchbarOpened">Serviços</ion-title>
         <ion-searchbar (ionInput)="getItems($event)" *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
          <ion-buttons end>
            <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true" disabled>
              <ion-icon name="search"></ion-icon>
            </button>
         </ion-buttons>
      </ion-navbar>
    </div>
  </ion-header>

<ion-content>
    <div class="chat-list-wrap {{layout}}">
        <ion-list>
          <ion-item  *ngFor="let item of items" (click)="openDetail(item.usuario.face,item.usuario.nome,item.servico.categoria,item.servico.descricao,item.usuario.telefone,item.servico.localidade,item.servico.diferencial)">
            <img  src="{{item.usuario.face}}">
            <div class="chat-list-title">{{item.usuario.nome}}</div>
            <div class="chat-list-sub-title">{{item.servico.categoria}}<div class="chat-list-localidade"><ion-icon ios="ios-pin" md="md-pin"></ion-icon> {{item.servico.localidade}}</div></div>
            
            <div class="chat-list-item">{{item.servico.diferencial}}</div>
          </ion-item>
        </ion-list>
      </div>

</ion-content>
