<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<ion-header>
    <div class="main-header-login">
        <ion-navbar color="danger">
          <ion-title> Autonomos</ion-title>
          </ion-navbar>
          </div>
</ion-header>

<ion-content padding>
    <div *ngIf="login">
        <ion-item>
            <ion-label floating>E-mail</ion-label>
            <ion-input type="email" [(ngModel)]="loginForm.email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Senha</ion-label>
            <ion-input type="password" [(ngModel)]="loginForm.senha"></ion-input>
        </ion-item>

        <p class="center">
            <button ion-button full class="addServico" (click)="logar()">Entrar</button>
        </p>

        <p class="center" (click)="exibirRegistrar()">Criar um nova conta</p>
    </div>

    <div *ngIf="register">
        <!--<ion-item>-->
            <!--<img class="chat-face">-->
        <!--</ion-item>-->

        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input type="text" [(ngModel)]="registroForm.nome"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" [(ngModel)]="registroForm.email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Nascimento</ion-label>
            <ion-input type="text" [(ngModel)]="registroForm.data_nascimento"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Telefone</ion-label>
            <ion-input type="text" [(ngModel)]="registroForm.telefone"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Senha</ion-label>
            <ion-input type="password" [(ngModel)]="registroForm.senha"></ion-input>
        </ion-item>

        <!--<ion-item>-->
            <!--<ion-label floating>Confirmar Senha</ion-label>-->
            <!--<ion-input type="passw" [(ngModel)]="registroForm.confirmar_senha"></ion-input>-->
        <!--</ion-item>-->

        <p>
            <button ion-button full class="addServico" (click)="registrar()">Cadastrar</button>
            
        </p>
         <p (click)="exibirLogin()" class="center">Já tenho uma conta</p>
    </div>
</ion-content>
