<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Destaques" tabIcon="star"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Serviços" tabIcon="briefcase"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="person"></ion-tab>
</ion-tabs>
