/**
 * Variables
 */    
 $black:    #171717;
 $white:    #FFF;
 $blue:     #fff;
 $gray-de:  #DEDEDE;
 $blue-48:  rgb(33, 190, 151);
 $blue-4a:  rgb(25, 207, 183);
 $gray-89:  #898989;
 $gray-72:  #727272;
 
 @mixin background-horizontal($left, $middle, $right) {
    background: $left;
    background: -webkit-linear-gradient(left, $left 0%, $middle 50%, $right 100%);
    background:    -moz-linear-gradient(left, $left 0%, $middle 50%, $right 100%);
    background:         linear-gradient(to right, $left 0%, $middle 50%, $right 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$left', endColorstr='$right',GradientType=0);
  }

  /* End */
    .tabs-md .tabbar{
        
    }
    .tabs-md .tab-button[aria-selected="true"]{
        color: $blue-48;
    }
    .tabs-md .tab-button[aria-selected="true"] .tab-button-icon{
        color: $blue-48;
    }
    .tabs-md .tab-button[aria-selected="true"]{
    }