<ion-header>

    <div class="main-header">
        <ion-navbar color="danger">
            <ion-title>Cadastrar Serviço</ion-title>
        </ion-navbar>
    </div>

</ion-header>


<ion-content padding>

    <ion-label>Dados fixos</ion-label>
    <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" value="{{usuario.nome}}"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" value="{{usuario.email}}"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Nascimento</ion-label>
        <ion-input type="text" value="{{usuario.data_nascimento}}"></ion-input>
    </ion-item>
    <br>

    <ion-label>Dados do Novo Serviço</ion-label>

    <ion-item>
        <ion-label color="default">Categoria</ion-label>
        <ion-select [(ngModel)]="servico.categoria">
            <ion-option value="carpinteiro">Carpinteiro</ion-option>
            <ion-option value="pintor">Pintor</ion-option>
            <ion-option value="eletricista">Eletricista</ion-option>
            <ion-option value="antenista">Antenista</ion-option>
            <ion-option value="detetizador">Detetizador</ion-option>
            <ion-option value="pedreiro">Pedreiro</ion-option>
            <ion-option value="encanador">Encanador</ion-option>
            <ion-option value="mecanico">Mecânico</ion-option>
            <ion-option value="costureiro">Costureiro</ion-option>
            <ion-option value="alfaiate">Alfaiate</ion-option>
            <ion-option value="cabeleleiro">Cabeleleiro</ion-option>
            <ion-option value="psicologo">Psicologo</ion-option>
            <ion-option value="outros">Outros</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Localidade</ion-label>
        <ion-input type="text" [(ngModel)]="servico.localidade"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Diferencial</ion-label>
        <ion-input type="text" [(ngModel)]="servico.diferencial"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="default" stacked>Descrição do Serviço</ion-label>
        <ion-textarea rows="5" maxLength="500" [(ngModel)]="servico.descricao"></ion-textarea>
    </ion-item>
    <br>
    <br>
    <button ion-button class="addServico" (click)="salvar()">{{ temServicoCadastrado() ? "Alterar" : "Cadastrar" }}</button>

</ion-content>
