<ion-header>
  <div class="main-header">
    <ion-navbar color="danger">
      <ion-title>Perfil</ion-title>
        <ion-buttons end>
      </ion-buttons>
    </ion-navbar>
  </div>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let chat of chats">
    <img src="{{chat.face}}" class="chat-face">
  </ion-item>

  <ion-item *ngFor="let chat of chats" >
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
    </ion-item>

    <ion-item *ngFor="let chat of chats">
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.email"></ion-input>
    </ion-item>  
        
      <ion-item *ngFor="let chat of chats">
          <ion-label floating>Nascimento</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.data_nascimento"></ion-input>
      </ion-item>
      <br><br><br>
      <button ion-button full class="button button-wp-secondary" *ngFor="let chat of chats" (click)="alterarUsuario()">Alterar Informações</button>
      <button ion-button full class="addServico" *ngFor="let chat of chats" (click)="openDetail(chat.nome,chat.email,chat.face,chat.nascimento)">Cadastrar Serviço</button>
      <button ion-button full class="gerenciarServico" *ngFor="let chat of chats" (click)="openServicoDetail(chat.nome)">Gerenciar Serviço</button>
      <button ion-button full class="promoverServico" (click)="showAlert()">Promover Serviço</button>
</ion-content>
