<ion-header>
  <div class="main-header">
    <ion-navbar color="danger">
      <ion-title>Destaques</ion-title>
        <ion-buttons end>
       </ion-buttons>
    </ion-navbar>
  </div>
</ion-header>

  <ion-content >
      <ion-chip #chip1>
          <ion-label><strong>Dica:</strong> Cadastre seu Serviço na aba "Perfil"</ion-label>
          <button ion-button clear color="dark" (click)="delete(chip1)">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-chip>
    <div class="chat-list-wrap {{layout}}">
      <ion-list>
        <ion-item  *ngFor="let chat of chats | slice:0:4 ; index as i" (click)="openDetail(chat.usuario.face,chat.usuario.nome,chat.servico.categoria,chat.servico.descricao,chat.usuario.telefone,chat.servico.localidade,chat.servico.diferencial1)">
          <img  src="{{chat.usuario.face}}">
          <div class="chat-list-title">{{chat.usuario.nome}}</div>
          <div class="chat-list-sub-title">{{chat.servico.categoria}}</div>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
