<ion-header>

  <div class="main-header">
    <ion-navbar color="danger">
      <ion-title>{{nome}}</ion-title>
    </ion-navbar>
  </div>

</ion-header>


<ion-content padding>
  <div class="content-detail-wrap">
    <img  src="{{foto}}">
    <div class="sub-details">{{funcao}}</div>
    <!--<div class="sub-price"><strong>R$ {{preco}}</strong></div>-->
    <div class="sub-discount">Tel: {{telefone}}</div>
    <div class="sub-discount">Localidade: {{localidade}}</div>
    <div class="sub-discount">{{descricao}}</div>
  </div>
</ion-content>
