<!--
  Generated template for the GerenciarServicoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <div class="main-header">
      <ion-navbar color="danger">
        <ion-title>Gerenciar Serviço</ion-title>
        </ion-navbar>
        </div>

</ion-header>
<ion-content padding>

  <div class="card">
      <h1>{{servico.categoria}}</h1>
      <p>{{servico.descricao}}</p>
      <p><button ion-button full class="promoverServico" (click)="deletarServico()">Excluir Serviço</button></p>
    </div> 






</ion-content>
